.navbar-inner
{
    background-image: -webkit-linear-gradient(top, #a0cae3, #0072b5);
    line-height: 16px;
}

.navbar .nav li a, .navbar .brand
{
    color: #333;
    text-shadow: 1px 1px 0 #0072b5;
}

.navbar .brand
{
    margin-left: 0px;
}

.nav-tabs
{
    border-bottom: 0
}

/* Twitter bootstrap overrides */
[class^="icon-"]
{
    width: inherit;
    height: inherit;
    line-height: inherit;
    background: none;
    margin-top: 0px;
    vertical-align: inherit;
}

h1
{
    font-size: 140%;
    line-height: 145%;
}

h2
{
    font-size: 120%;
    line-height: 125%;
}

.icon-white,
.nav-tabs > .active > a > [class^="icon-"],
.nav-tabs > .active > a > [class*=" icon-"],
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"] {
  background-image: none;
}
