{% extends "base.html" %}

{% block content %}

<div class="container well">

{% if book_list %}
    <table class="table table-striped well">
    <thead>
    <tr>
        <th>Title</th>
        <th>Series/Book</th>
        <th>Author</th>
    </tr>
    </thead>
    <tbody>
    {% for book in book_list %}
        <tr>
            <td><a href="/books/{{ book.id }}"><i class='icon-book'></i> {{ book.title }}</a></td>
            {% if book.series %}
                <td>{{ book.series }}, book {{ book.series_number }}</td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            <td>{{ book.author }}</td>
        </tr>
    {% endfor %}
    </tbody>
{% else %}
    <p>No books exist in your library.</p>
{% endif %}
</div>

{% endblock %}

