{% extends "base.html" %}

{% block content %}
<div class='container'>

<form class="well form-inline" action="/books/mass_add" method="post">
    {% csrf_token %}
    <legend>Mass Add Books</legend>
    <label>ISBN #:</label>
    <input type="text" name="isbn" autofocus="autofocus" />
    <button type="submit" class="btn btn-primary">Search</button>
</form>

{% if book %}
    <p><a href="/books/{{ book.id }}">{{ book.title }}</a> by {{ book.author.name }} has been added successfully.</p>
{% endif %}

{% if error %}
    <p>{{ error }}</p>
{% endif %}
</div>


{% endblock %}

