{% extends "base.html" %}

{% block content %}
<div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class='navbar-inner' style='padding-top: 5px; padding-right: 10px'>
        <div class='pull-right'>
            <a class="btn btn-small btn-primary" href="/books/{{ book.id }}/edit"><i class="icon-edit icon-white"></i> Edit</a>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row-fluid">
        <div class="span4">
            {% if img_url %}
                <img src='{{ img_url }}'>
            {% endif %}
        </div>
        <div class="span8">
            <h1>{{ book.title }}</h1>
            <h2>by {{ book.author.name }}</h2>
            <div>
                {% autoescape off %}
                {{ book.description }}
                {% endautoescape %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

