{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span4">
            {% if img_url %}
                <img src='{{ img_url }}'>
            {% endif %}
        </div>
        <div class="span8">
            <h1>{{ book.title }}</h1>
            <h2>by {{ book.author.name }}</h2>
            <div>
                {% autoescape off %}
                {{ book.description }}
                {% endautoescape %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

