<!DOCTYPE html>
{% load bootstrap_toolkit %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Library</title>
    <meta name="description" content="">
    <meta name="author" content="Ed Salisbury">
    {% bootstrap_stylesheet_tag %}
    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/font-awesome.css">

    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    {% bootstrap_javascript_tag "dropdown" %}
    {% block extra_head %}{% endblock %}
</head>

<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <a class="brand" href="/"><i class='icon-home'></i> My Library</a>
            <form class="navbar-search pull-right" style='padding-right: 10px'>
                <input type="text" class="search-query" placeholder="Search">
            </form>
            <ul class="nav nav-tabs">
                {% if tab == 'books' %}
                    <li class="active"><a href="/books"><i class='icon-book'></i> Books</a></li>
                {% else %}
                    <li><a href="/books"><i class='icon-book'></i> Books</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

    {% if tab == 'books' %}
        <div class="navbar navbar-inverse navbar-fixed-bottom">
            <div class='navbar-inner' style='padding-top: 5px; padding-right: 10px'>
                <div class='pull-right'>
                    {% if action == "view" %}
                        <a class="btn btn-small btn-primary" href="/books/{{ book.id }}/edit"><i class="icon-edit icon-white"></i> Edit</a>
                    {% endif %}
                    {% if action == "edit" %}
                        <a class="btn btn-small btn-primary" href="/books/{{ book.id }}"><i class="icon-eye-open icon-white"></i> View</a>
                    {% endif %}

                    <a class="btn btn-small btn-primary" href="/books/add"><i class="icon-plus icon-white"></i> Add</a>
                    <a class="btn btn-small btn-primary" href="/books/mass_add"><i class="icon-barcode icon-white"></i>&nbsp;  Mass Add</a>
                </div>
            </div>
        </div>
    {% endif %}

    {% block content %}{% endblock %}

</body>
</html>
